.cta {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8rem 0;
}

.cta .container {
  display: flex;
  gap: 2rem;
}

.cta .container .cta-col:nth-child(1),
.cta .container .cta-col:nth-child(3) {
  flex: 1;
}

.cta .container .cta-col:nth-child(2) {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cta .container .cta-col:nth-child(2) .cta-header {
  width: 50%;
  text-align: center;
}

.cta .container .cta-col:nth-child(2) .cta-main-img {
  aspect-ratio: 4/5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: -4rem;
  z-index: -1;
  border-radius: 0.75rem;
}

.cta .container .cta-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta .container .cta-col:nth-child(1) p {
  color: var(--base-500);
}

.cta .container .cta-col:nth-child(1) .cta-side-img {
  transform: translateY(20rem);
  will-change: transform;
  overflow: hidden;
  border-radius: 0.75rem;
  height: 20rem;
}

.cta .container .cta-col:nth-child(3) {
  display: flex;
  align-items: flex-end;
}

.cta .container .cta-col:nth-child(3) .cta-side-img {
  transform: translateY(0rem);
  will-change: transform;
  overflow: hidden;
  border-radius: 0.75rem;
  height: 20rem;
}

.cta .container:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta .container:nth-child(2) .cta-main-copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cta .container:nth-child(2) .cta-main-copy {
  text-align: center;
  margin-top: 4rem;
}

@media (max-width: 1000px) {
  .cta .container .cta-col:nth-child(2) .cta-header {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .cta .container .cta-col:nth-child(2) .cta-header {
    width: 90%;
  }

  .cta .container .cta-col:nth-child(1) p,
  .cta .container .cta-col:nth-child(1),
  .cta .container .cta-col:nth-child(3) {
    display: none;
  }

  .cta .container .cta-col:nth-child(2) .cta-main-img,
  .cta .container:nth-child(2) .cta-main-copy {
    margin-top: 0;
  }
}
