footer.landing-footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--base-100);
  margin-top: -45svh;
}

footer.landing-footer p.bodyCopy {
  font-size: 0.95rem;
}

footer.landing-footer .container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 3rem;
}

footer.landing-footer .footer-row:nth-child(1) {
  display: flex;
  width: 45%;
  gap: 1rem;
}

footer.landing-footer .footer-row:nth-child(1) .footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer.landing-footer .footer-row:nth-child(1) .footer-col .footer-col-header p {
  color: var(--base-500);
}

footer.landing-footer .footer-row:nth-child(1) .footer-col .footer-col-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer.landing-footer .footer-row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer.landing-footer .footer-row:nth-child(2) .footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer.landing-footer .footer-row:nth-child(2) .footer-copyright p:nth-child(2) {
  margin-bottom: 1.5rem;
  color: var(--base-500);
  line-height: 1.25;
}

@media (max-width: 1000px) {
  footer.landing-footer {
    margin-top: 0;
  }

  footer.landing-footer .container {
    gap: 5rem;
    padding: 3rem 2rem;
  }

  footer.landing-footer .footer-row:first-child {
    width: 100%;
    flex-direction: column;
    gap: 4rem;
  }

  footer.landing-footer .footer-row:first-child .footer-col .footer-col-links {
    gap: 0.5rem;
  }

  footer.landing-footer .footer-row:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}

@media (min-width: 2000px) {
  footer.landing-footer {
    margin-top: -40svh;
  }
}
