.landing-root .menu {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  max-width: 2000px;
  transition: transform 0.4s ease;
  will-change: transform;
  z-index: 10;
}

.landing-root .menu.hidden {
  transform: translateX(-50%) translateY(-300%);
}

.landing-root .menu .menu-header {
  position: relative;
  padding: 1rem 1.5rem 1rem 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-700);
  border-radius: 0.75rem;
  z-index: 2;
  cursor: pointer;
}

.landing-root .menu .menu-logo {
  text-transform: uppercase;
  font-family: var(--font-koulen), sans-serif;
  font-size: clamp(1.25rem, 2vw, 3rem);
  line-height: 1;
  cursor: pointer;
  color: var(--base-100);
}

.landing-root .menu .menu-toggle {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}

.landing-root .menu .menu-hamburger-icon {
  width: 20px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

.landing-root .menu .menu-item {
  transition: all 0.2s ease;
  display: block;
  width: 20px;
  height: 2px;
  margin: 0 0 4px;
  background: var(--base-100);
  border-radius: 1px;
}

.landing-root .menu .menu-hamburger-icon.open .menu-item {
  background: var(--base-100);
}

.landing-root .menu .menu-hamburger-icon.open .menu-item:first-child {
  transform: rotate(45deg);
  transform-origin: 5px;
}

.landing-root .menu .menu-hamburger-icon.open .menu-item:nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: 6px;
}

.landing-root .menu .menu-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--base-700);
  border-radius: 0 0 0.75rem 0.75rem;
  margin-top: -0.75rem;
  padding-top: 0.75rem;
  transform-origin: top;
  overflow: hidden;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  transform: scaleY(0);
  will-change: transform;
}

.landing-root .menu .menu-overlay-items {
  display: flex;
  gap: 4rem;
}

.landing-root .menu .menu-items-header p {
  color: var(--base-500);
}

.landing-root .menu .menu-overlay-col-sm {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.landing-root .menu .menu-overlay-col-sm .menu-main-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  color: var(--base-100);
}

.landing-root .menu .menu-overlay-col-sm .menu-main-link p {
  font-size: 1.25rem;
}

.landing-root .menu .menu-overlay-col-lg {
  flex: 2.5;
  display: flex;
  gap: 2rem;
}

.landing-root .menu .menu-overlay-col-lg .menu-overlay-sub-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.landing-root .menu .menu-sub-links {
  display: flex;
  flex-direction: column;
}

.landing-root .menu .menu-sub-links a {
  position: relative;
  display: block;
  color: var(--base-100);
  padding: 1rem 0;
  border-bottom: 1px dashed var(--base-500);
  will-change: transform, opacity;
}

.landing-root .menu .menu-overlay-footer {
  border-top: 1px dashed var(--base-500);
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.landing-root .menu .menu-overlay-footer a {
  color: var(--base-100);
}

.landing-root .signup-button-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
}

.landing-root .signup-btn {
  background-color: var(--base-700);
  color: var(--base-100);
  border: none;
  width: max-content;
  padding: 0 1.5rem;
  height: 3.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-family: var(--font-dm-mono), monospace;
  font-weight: 500;
  font-size: clamp(0.85rem, 1vw, 0.85rem);
  text-transform: uppercase;
  border-radius: 0.75rem;
  transition: transform 0.2s ease;
}

.landing-root .signup-btn:active {
  transform: scale(0.95);
}

@media (max-width: 1000px) {
  .landing-root .menu {
    top: 1.5rem;
    width: calc(100% - 3rem);
  }

  .landing-root .menu .menu-overlay-items {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-root .menu .menu-items-header {
    display: none;
  }

  .landing-root .menu .menu-overlay-col-lg {
    flex-direction: column;
  }

  .landing-root .menu .menu-product-links {
    display: none;
  }
}
