.peel-reveal {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--base-100);
  overflow: hidden;
}

.peel-reveal .peel-reveal-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
  will-change: transform, border-radius;
  z-index: -1;
}

.peel-reveal .peel-reveal-img-container .pr-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.peel-reveal .peel-reveal-img-container .pr-img.mask {
  -webkit-mask-image: url("/peel-reveal/peel-reveal-img-mask.png");
  mask-image: url("/peel-reveal/peel-reveal-img-mask.png");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
  z-index: 2;
}

.peel-reveal .peel-reveal-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
  color: var(--base-700);
  z-index: 1;
}

.peel-reveal .peel-reveal-intro-text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.peel-reveal .peel-reveal-intro-text {
  flex: 1;
  position: relative;
  will-change: transform;
}

.peel-reveal .peel-reveal-intro-text:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}
