.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 100000;
}

.preloader-progress,
.preloader-mask,
.preloader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  pointer-events: none;
}

.preloader-progress {
  background-color: var(--base-300);
  will-change: opacity, transform;
  z-index: 1;
}

.preloader-progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  width: 55%;
  height: 100%;
  background-color: var(--base-200);
  transform: translateX(-50%) scaleX(0);
  will-change: transform;
  transform-origin: left;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
}

.preloader-logo h1 {
  position: relative;
  color: var(--base-200);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  opacity: 0;
}

.preloader-mask {
  background-color: var(--base-400);
  -webkit-mask: linear-gradient(var(--base-300), var(--base-300)),
    url("/home/mask.svg") center/50% no-repeat;
  -webkit-mask-composite: subtract;
  mask: linear-gradient(var(--base-300), var(--base-300)),
    url("/home/mask.svg") center/50% no-repeat;
  mask-composite: subtract;
  will-change: transform;
  z-index: 1;
}

.preloader-content {
  z-index: 2;
}

.preloader-wrapper .line,
.preloader-wrapper .char {
  position: relative;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
  will-change: transform;
}

@media (max-width: 800px) {
  .preloader-progress-bar {
    left: 0%;
    width: 100%;
    transform: translateX(0%) scaleX(0);
  }

  .preloader-logo h1 {
    font-size: 2rem;
  }

  .preloader-mask {
    -webkit-mask: linear-gradient(#f5f5f5, #f5f5f5),
      url("/home/mask.svg") center/90% no-repeat;
    -webkit-mask-composite: subtract;
    mask: linear-gradient(#f5f5f5, #f5f5f5),
      url("/home/mask.svg") center/90% no-repeat;
    mask-composite: subtract;
  }
}
