.text-block {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-color: var(--base-700);
  color: var(--base-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-block p {
  color: var(--base-100);
}

.text-block .container {
  display: flex;
  padding: 3rem;
}

.text-block .container .text-block-col {
  flex: 1;
}

.text-block .container .text-block-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15rem;
}

.text-block .container .text-block-col:nth-child(2) {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.text-block .container .text-block-logo {
  width: 5rem;
  height: 5rem;
}

.text-block .container .text-block-logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-block .container .text-block-col:nth-child(2) p {
  color: var(--base-400);
}

.text-block .container .text-block-copy {
  flex: 1;
}

@media (max-width: 1000px) {
  .text-block {
    height: 750px;
  }
  .text-block .container {
    padding: 3rem 1.5rem;
    flex-direction: column;
    gap: 2rem;
  }

  .text-block .container .text-block-copy {
    flex: none;
  }

  .text-block .container .text-block-col:first-child {
    flex-direction: column-reverse;
  }

  .text-block .container .text-block-col:nth-child(2) {
    display: inline-block;
  }

  .text-block .container .text-block-col:nth-child(2) p {
    margin-bottom: 1rem;
  }
}
